{% load staticfiles %}

<!-- Bootstrap Core CSS -->
<link href="{% static 'frontend/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'frontend/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'frontend/css/font-awesome.min.css' %}" rel="stylesheet">

<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'frontend/css/styler.css' %}" />
<link rel="stylesheet" href="{% static 'frontend/css/main1.css' %}" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<script src="{% static 'frontend/js/main1.js' %}"></script>
<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>

<link rel="stylesheet" href="{% static 'frontend/css/main.css' %}">
<link href="{% static 'frontend/css/custom.css' %}" rel="stylesheet">
<link href="{% static 'frontend/css/main.css' %}" rel="stylesheet">
<link href="{% static 'frontend/css/social.css' %}" rel="stylesheet">
<link href="{% static 'frontend/css/default-element.css' %}" rel="stylesheet">
<link href="{% static 'frontend/css/owl.carousel.css' %}" rel="stylesheet">
<link href="{% static 'frontend/css/owl.theme.css' %}" rel="stylesheet">
<link href="{% static 'frontend/css/contact.css' %}" rel="stylesheet">

<link href="{% static 'frontend/css/owl.transitions.css' %}" rel="stylesheet">
<link href="{% static 'frontend/css/cs-traveladvisor-plugin.css' %}" rel="stylesheet">

<!-- extra css -->
<link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">

<!-- end of extra css -->


<link href="{% static 'frontend/css/vertical.css' %}" rel="stylesheet">
<!-- Custom Fonts & Icons -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'frontend/css/icomoon-social.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/font-awesome.min.css' %}">
<script src="{% static 'frontend/js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
<link href="{% static 'frontend/css/style2.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'frontend/css/theme2.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css1/style2.css' %}"/>
<link href="{% static 'frontend/css1/main.css' %}" rel="stylesheet">
<link href="{% static 'frontend/css1/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'frontend/css1/theme.css' %}" rel="stylesheet">
<link href="{% static 'frontend/css1/styled.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'frontend/css1/custom-styles.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/headersocial.css' %}">

<!-- Custom Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link href="{% static 'frontend/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

<!-- Javascript -->
<script type="text/javascript" src="{% static 'frontend/js/modernizr.custom.79639.js' %}"></script>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
