{% load staticfiles %}
<!-- Bootstrap Core CSS -->
<link href="{% static 'frontend/css1/bootstrap.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'frontend/css1/bootstrap-responsive.css' %}">

<!-- Custom Css -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">




<!-- Bootstrap Core CSS -->
<link href="{% static 'frontend/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'frontend/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'frontend/css/font-awesome.min.css' %}" rel="stylesheet">

<!-- Custom CSS -->

<link href="{% static 'frontend/css/contact.css' %}" rel="stylesheet">


<link href="{% static 'frontend/css/vertical.css' %}" rel="stylesheet">
<!-- Custom Fonts & Icons -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

<link rel="stylesheet" type="text/css" href="{% static 'frontend/css1/style2.css' %}"/>
<link href="{% static 'frontend/css1/main.css' %}" rel="stylesheet">
<link href="{% static 'frontend/css1/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'frontend/css1/theme.css' %}" rel="stylesheet">
<link href="{% static 'frontend/css1/styled.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'frontend/css1/custom-styles.css' %}">
<!-- Custom Fonts -->
<link href="{% static 'frontend/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

<!-- Javascript -->
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'frontend/js/jquery.roundabout-1.0.min.js' %}"></script>


<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="{% static 'frontend/css1/bootstrap-responsive.css' %}">

<!-- Custom Css -->
<link href="{% static 'frontend/css1/search.css' %}" rel="stylesheet">

<link rel="stylesheet" href="{% static 'frontend/css/reset.css' %}"> <!-- CSS reset -->
<link rel="stylesheet" href="{% static 'frontend/css/style12.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/slider.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
<!-- Resource style -->
<script src="{% static 'frontend/js/modernizr.js' %}"></script>

