{% load staticfiles %}

<!-- Include all compiled plugins (below), or include individual files as needed -->

<script src="{% static 'frontend/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'frontend/js/jquery.stellar.js' %}"></script>
<script src="{% static 'frontend/js/jquery.appear.js' %}"></script>
<script src="{% static 'frontend/js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'frontend/js/jquery.countTo.js' %}"></script>
<script src="{% static 'frontend/js/jquery.shuffle.modernizr.js' %}"></script>
<script src="{% static 'frontend/js/jquery.shuffle.js' %}"></script>
<script src="{% static 'frontend/js/owl.carousel.js' %}"></script>
<script src="{% static 'frontend/js/jquery.ajaxchimp.min.js' %}"></script>

<script src="{% static 'frontend/js/vertical.js' %}"></script>

<script src="{% static 'frontend/js/jquery2.min.js' %}"></script>
<script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
<!-- Scrolling Nav JavaScript -->
<script src="{% static 'frontend/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'frontend/js/scrolling-nav.js' %}"></script>
