{% load staticfiles %}

<!-- Javascripts -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{% static 'frontend/js1/bootstrap.min.js' %}"></script>

<!-- Scrolling Nav JavaScript -->
<script src="{% static 'frontend/js1/jquery.easing.min.js' %}"></script>
<script src="{% static 'frontend/js1/scrolling-nav.js' %}"></script>



<script src="{% static 'frontend/js/jquery.min.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
<script src="{% static 'frontend/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'frontend/js/jquery.stellar.js' %}"></script>
<script src="{% static 'frontend/js/jquery.appear.js' %}"></script>
<script src="{% static 'frontend/js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'frontend/js/jquery.countTo.js' %}"></script>
<script src="{% static 'frontend/js/jquery.shuffle.modernizr.js' %}"></script>
<script src="{% static 'frontend/js/jquery.shuffle.js' %}"></script>
<script src="{% static 'frontend/js/owl.carousel.js' %}"></script>
<script src="{% static 'frontend/js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'frontend/js/script.js' %}"></script>
<script src="{% static 'frontend/js/vertical.js' %}"></script>


<!-- Scrolling Nav JavaScript -->
<script src="{% static 'frontend/js/jquery-2.1.4.js' %}"></script>

<script src="{% static 'frontend/js/jquery.mobile.custom.min.js' %}"></script>
<script src="{% static 'frontend/js/slider.js' %}"></script>
<script src="{% static 'frontend/js/main.js' %}"></script>
