{% load staticfiles %}
<!DOCTYPE html>

<html class="no-js">
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title here -->
    <title>
        {% block title %}
        Moodways Travel
        {%endblock %}
    </title>
    {% include 'layouts/frontend/include/head.html'%}
    {% block extra_head %}
    {%endblock %}


</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" style="background-color:white;">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
       <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/"><img src="{% static 'assets/img/logo.png' %}"></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
    <ul class="nav navbar-nav navbar-right">
     {% for child in menu_root.not_deleted_children %}
     {% if request.path|cut:"/" == child.url|cut:"/" %}
     {% if child.not_deleted_children %}
     <li class="passive dropdown">
        {% else %}
        <li class="passive">
            {%endif%}
            {% else %}
            {% if child.not_deleted_children %}
            <li class="dropdown">
                {% else %}
                <li>
                    {%endif%}
                    {% endif %}
                    {% if child.not_deleted_children %}
                    <a href="{{ child.url }}" class="dropdown-toggle" data-toggle="dropdown">{{ child.title }}<b class="caret"> </b></a>
                    <ul class="dropdown-menu" style="background-color:white;">
                        {% for sub_child in child.not_deleted_children %}
                        <li>
                            <a href="{{ sub_child.url }}">{{ sub_child.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <a href="{{ child.url }}">{{ child.title }}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>



<!-- Intro Header -->
<header class="intro" style="background-image:url('{% static "frontend/img/back.jpg" %}'); height:300px;">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="brand-heading">
                    <h1 style="color:#FFF;">Experience Nepal</h1>
                    <h1 style="font-size:12px; color:#FFF; margin-top:20px;">
                            Travel with moodways
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="row">
    <div class="share-it">
        <div class="facebook" style="background-image: url({% static 'frontend/img/fb1.png' %}); margin-bottom:5px;">
     <a href="#"><i class="fa fa-facebook" ></i></a>
   </div>
   <div class="twitter" style="background-image: url({% static 'frontend/img/tw1.png' %}); margin-bottom:5px;">
     <a href="#"><i class="fa fa-twitter"></i></a>
   </div>
   <div class="google hidden-xs" style="background-image: url({% static 'frontend/img/pin1.png' %}); margin-bottom:5px;">
     <a href="#"><i class="fa fa-google-plus"></i></a>
   </div>
   <div class="rss" style="background-image: url({% static 'frontend/img/rss1.png' %}); margin-bottom:5px;">
     <a href="#"><i class="fa fa-rss"></i></a>
   </div>
   <div class="linkedin" style="background-image: url({% static 'frontend/img/li1.png' %}); margin-bottom:5px;">
     <a href="#"><i class="fa fa-linkedin"></i></a>
   </div>
   <div class="youtube cboxElement" style="background-image: url({% static 'frontend/img/vm1.png' %}); margin-bottom:5px;">
     <a href="#"><i class="fa fa-youtube"></i></a>
   </div>
 </div>
</div>

{% block content%}

{% endblock %}

<section id="contact" >
  <div class="container" data-stellar-background-ratio="0.4" class="img img-responsive" style=" background:url({% static 'frontend/img/fback.jpg'%}); background-size:cover; background-position:fixed;">
    <div class="row" style="margin-top:20px; margin-bottom:20px; ">
      <div class="col-md-3">
        <a href="#" class="fa fa-map-marker" style="color:#fff; font-size:25px;" ><h4 style="color:#fff;"> Quick Links</h4> </a>
        <ul>
          <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Home</a> </li>
          <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Destination</a> </li>
          <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Essential Info</a> </li>
          <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Ght Blog</a> </li>
          <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Earthquake 2015</a> </li>
          <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> FAQs</a> </li>
          <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Contact Us</a> </li>
        </ul>
      </div>
      <div class="col-md-3">
        <a href="#" class="fa fa-map-marker" style="color:#fff; font-size:25px;" ><h4 style="color:#fff;"> Watch</h4> </a>
        <ul>


          <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Adventure week- Rebound Nepal</a> </li>
          <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Ght Trailer</a> </li>

        </ul>
      </div>
      <div class="col-md-3">
        <a href="#" class="fa fa-map-marker" style="color:#fff; font-size:25px;" ><h4 style="color:#fff;"> Destinations</h4> </a>
        <ul>
          <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Humla</a> </li>
          <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Jumla</a> </li>
          <li><a href="#" class="fa fa-map-marker" style="color:#fff;">Far west Nepal</a> </li>
          <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Pokhara</a> </li>
          <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Chitwan</a> </li>
          <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Humla</a> </li>
          <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Jumla</a> </li>
          <li><a href="#" class="fa fa-map-marker" style="color:#fff;">Far west Nepal</a> </li>
          <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Pokhara</a> </li>

        </ul>
      </div>
      <div class="col-md-3">
        <a href="#" class="fa fa-map-marker" style="color:#fff; font-size:25px;" ><h4 style="color:#fff;">My GHT</h4> </a>
        <ul>
          <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Trekkers' Journals</a> </li>
          <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> My GHT Photo Compilation</a> </li>

        </ul>
      </div>

    </div>
  </div>
</section>



<!-- Bottom footer -->
<div class="footer-bottom" style="background-color:#000;">
  <div class="wrap" style="height:40px;">
    <div class="copy">
     <h1 style="font-size:13px; color:white;">&copy; <a href="#" target="_blank"></a> Moodways Travel,2017 </h1>
   </div>
   <div class="social">
     <ul>

     </ul>
   </div>
   <div class="clear"></div>
 </div>
</div>

{% include 'layouts/frontend/include/javascript.html'%}
{% block extra_js%}
{% endblock %}

</body>
</html>
