<!DOCTYPE html>

<html class="no-js">
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Title here -->
    <title>Single Blog post</title>

    <!-- Bootstrap Core CSS -->
    <link href="css1/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="css1/bootstrap-responsive.css">

    <!-- Custom Css -->
	<link href="css1/main.css" rel="stylesheet">
	<link href="css1/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css1/theme.css" rel="stylesheet">
		  <link href="css1/styled.css" rel="stylesheet">
	<link rel="stylesheet" href="css1/custom-styles.css">


	
	<!-- Custom Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" style="background-color:white;">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
			<a class="navbar-brand page-scroll" href="hostindex.html">MOODWAYS </a>
		</div>
		<!-- Collect content for toggling -->
		<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="#">home</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">tours<b class="caret"> </b> <i class="icon-angle-down"></i></a>
					<ul class="dropdown-menu" style="background-color:white;">
						   <li><a href="#"> TOUR LISTING</a> </li>
					   <li><a href="#"> TOUR GRID</a> </li>
                                            <li><a href="#"> TOUR DETAILS</a> </li>
					</ul>
				</li>
				  <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Destinations<b class="caret"> </b> <i class="icon-angle-down"></i></a>
					<ul class="dropdown-menu" style="background-color:white;">
					   <li><a href="#"> DESTINATION LISTING</a> </li>
					   <li><a href="#"> DESTINATION BOX</a> </li>
                                            <li><a href="#"> DESTINATION DETAILS</a> </li>
					</ul>
				</li>
				  <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog<b class="caret"> </b> <i class="icon-angle-down"></i></a>
					<ul class="dropdown-menu" style="background-color:white;">
						<li><a href="#">Full Width Page</a></li>
						<li><a href="#">Dropdown Menu 1</a></li>
						<li><a href="#">Dropdown Menu 2</a></li>
						<li><a href="#">Dropdown Menu 3</a></li>
						<li><a href="#">Dropdown Menu 4</a></li>
						<li class="divider"></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Terms of Use</a></li>
					</ul>
				</li>
				  <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages<b class="caret"> </b> <i class="icon-angle-down"></i></a>
					<ul class="dropdown-menu" style="background-color:white;">
						<li><a href="#">Full Width Page</a></li>
						<li><a href="#">Dropdown Menu 1</a></li>
						<li><a href="#">Dropdown Menu 2</a></li>
						<li><a href="#">Dropdown Menu 3</a></li>
						<li><a href="#">Dropdown Menu 4</a></li>
						<li class="divider"></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Terms of Use</a></li>
					</ul>
				</li>
				  <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop<b class="caret"> </b> <i class="icon-angle-down"></i></a>
					<ul class="dropdown-menu" style="background-color:white;">
						<li><a href="#">Full Width Page</a></li>
						<li><a href="#">Dropdown Menu 1</a></li>
						<li><a href="#">Dropdown Menu 2</a></li>
						<li><a href="#">Dropdown Menu 3</a></li>
						<li><a href="#">Dropdown Menu 4</a></li>
						<li class="divider"></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Terms of Use</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Contact US</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
	</nav>
	
	
	<!-- Intro Header -->
	<header class="intro" style="background-image:url('img/back.jpg'); height:300px;">
		<div class="intro-body">
			<div class="container">
				<div class="row">
					<div class="brand-heading">
						<h1 style="color:#FFF;">Experience Nepal</h1>
						<h1 style="font-size:12px; padding:40px 0; color:#FFF;">
							Travel with moodways
						</h1>
					</div>
				</div>
			</div>
		</div>
	</header> 
	
	<!-- Location -->
	<div class="footer-bottom" style="background-color:transparent; margin-top:40px;">
	 		  <div class="wrap">
	     	  	<div class="copy" style="margin-left:100px;">
				   <h1 style="font-size:13px"><a href="hostindex.html" target="_blank">Home</a></h1>
			    </div>
				<div class="copy">
				   <h1 style="font-size:13px;"><a href="blog.html" target="_blank"> >>Blog Grid</a></h1>
			    </div>
				<div class="copy">
				   <h1 style="font-size:13px;"><a href="blog-post.html" target="_blank"> >>Title of the blog</a></h1>
			    </div>
			    <div class="clear"></div>
			  </div>
       </div>
        
		<!-- Blog Section -->
        <div class="section">
	    	<div class="container">
				<div class="row">
				<!-- Left Sidebar -->
				<div class="col-sm-4 blog-sidebar" style="width:23%; margin-left:80px;">
						<!-- Search Form -->
						<form>
							<div class="input-group">
								<input class="form-control input-md" id="appendedInputButtons" type="text" placeholder="Search">
								<span class="input-group-btn">
									<button class="btn btn-md" type="button" style="background:url(img/search.png); border:none; width:30px; height:30px; margin-left:5px;"></button>
								</span>
							</div>
						</form>
						<!-- Latest Blog sidebar -->
						<div class="sidebar no-space">
                                <h1 style="margin-bottom:20px; margin-top:30px; border-bottom: 1px solid #BBB;">Latest blog</h1>
                                <div class="sidebar-posts" >
                                    <i class="fw-icon-bell-alt" style="background:url(img/b1.jpg); background-size:cover; width:60px; height:60px;"></i>
                                    <h1>April 10, 2017 </h1>
                                    <p><a href="#" style="color:black;">Nulla nec praesent placerat risus..</a></p>
                                </div>
                                   <div class="sidebar-posts" >
                                    <i class="fw-icon-bell-alt" style="background:url(img/b2.jpg); background-size:cover; width:60px; height:60px;"></i>
                                    <h1>Vivamus </h1>
                                     <p><a href="#" style="color:black;">Nulla nec praesent placerat risus..</a></p>
                                </div>
                                   <div class="sidebar-posts" >
                                    <i class="fw-icon-bell-alt" style="background:url(img/b3.jpg); background-size:cover; width:60px; height:60px;"></i>
                                    <h1>Vivamus </h1>
                                     <p><a href="#" style="color:black;">Nulla nec praesent placerat risus..</a></p>
                                </div>
								   <div class="sidebar-posts" >
                                    <i class="fw-icon-bell-alt" style="background:url(img/b4.jpg); background-size:cover; width:60px; height:60px;"></i>
                                    <h1>Vivamus </h1>
                                     <p><a href="#" style="color:black;">Nulla nec praesent placerat risus..</a></p>
                                </div>
								   <div class="sidebar-posts" >
                                    <i class="fw-icon-bell-alt" style="background:url(img/b5.jpg); background-size:cover; width:60px; height:60px;"></i>
                                    <h1>Vivamus </h1>
                                     <p><a href="#" style="color:black;">Nulla nec praesent placerat risus..</a></p>
                                </div>
                            </div>
							
							<!-- Categories Sidebar -->
						<h4>Categories</h4>
						<ul class="blog-categories">
							<li><a href="#">Lorem ipsum</a></li>
							<li><a href="#">Sed sit amet metus</a></li>
							<li><a href="#">Nunc et diam </a></li>
							<li><a href="#">Quisque</a></li>
						</ul>
						<!-- Archive Sidebar -->
						<h4>Archive</h4>
						<ul class="blog-categories">
							<li><a href="#">January 2013</a></li>
							<li><a href="#">February 2013</a></li>
							<li><a href="#">March 2013</a></li>
							<li><a href="#">April 2013</a></li>
							<li><a href="#">May 2013</a></li>
						</ul>
					</div>
					<!-- End Sidebar -->
					
					<!-- Blog Post -->
					<div class="col-sm-8" style="width:70%; align:right; margin-right:-40px;">
						<div class="blog-post blog-single-post" >

										
							<div class="single-post-content" style="margin-top:-10px;">
							<!-- genre -->
							<h3 style="color:black; font-size:10px; margin-bottom:7px;"> Genre, Genre</h3>
							<!-- Title -->
								<h3>Lorem ipsum dolor sit amet on the game of things of hellof things of hell asdadadasd</h3>
								<!-- Author, Date -->
								<p>Writer name, April 10, 2017</p>
								<!-- Image -->
								<div class="single-post-image" style="margin-top:20px;">
								<img src="img/b1.jpg" alt="Post Title">
							</div>	
							<!-- Body -->
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio. Duis elementum ligula eu ipsum condimentum accumsan.
								</p>
								<p>
									Vivamus euismod elit ac libero facilisis tristique. Duis mollis non ligula vel tincidunt. Nulla consectetur libero id nunc ornare, vel vulputate tellus mollis. Sed quis nulla magna. Integer rhoncus sem quis ultrices lobortis. Maecenas tempus nulla quis dolor vulputate egestas. Phasellus cursus tortor quis massa faucibus fermentum vel sit amet tortor. Phasellus vehicula lorem et tortor luctus, a dignissim lacus tempor. Aliquam volutpat molestie metus sit amet aliquam. Duis vestibulum quam tortor, sed ultrices orci sagittis nec.
								       
									   <!-- Quote -->
									   <div class="sidebar-posts"  style="border-left: 1px solid #BBB; padding:20px 20px 20px 20px;" >
                                    <i class="fw-icon-bell-alt" style="background:url(img/quote.png); border:none; width:10px; height:10px;"></i>
                                   
                                    <p style="text-transform:lowercase;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio. Duis elementum ligula eu ipsum condimentum accumsan.
								</p>
									<h1 style="margin-top:7px; margin-left:45px">Writers name </h1>
                                </div>
								
								<p style="margin-top:20px;" >
									Vivamus euismod elit ac libero facilisis tristique. Duis mollis non ligula vel tincidunt. Nulla consectetur libero id nunc ornare, vel vulputate tellus mollis. Sed quis nulla magna. Integer rhoncus sem quis ultrices lobortis. Maecenas tempus nulla quis dolor vulputate egestas. Phasellus cursus tortor quis massa faucibus fermentum vel sit amet tortor. Phasellus vehicula lorem et tortor luctus, a dignissim lacus tempor. Aliquam volutpat molestie metus sit amet aliquam. Duis vestibulum quam tortor, sed ultrices orci sagittis nec.
								</p>								
								<h3>Sed sit amet metus sit</h3>
								<p>
									Proin fermentum, purus id eleifend molestie, nisl arcu rutrum tellus, a luctus erat tortor ut augue. Vivamus feugiat nisi sit amet dignissim fermentum. Duis elementum mattis lacinia. Sed sit amet metus sit amet leo semper feugiat. Nulla vel orci nec neque interdum facilisis egestas vitae lorem. Phasellus elit ante, posuere at augue quis, porta vestibulum magna. Nullam non mattis odio. Donec eget velit leo. Nunc et diam volutpat tellus ultrices fringilla eu a neque. Integer lectus nunc, vestibulum a turpis vitae, malesuada lacinia nibh. In sit amet leo ut turpis convallis bibendum. Nullam nec purus sapien. Quisque sollicitudin cursus felis sit amet aliquam.
								</p>
								<!-- Share -->
								<div class="footer-bottom" style="background-color:#DDD;">
									<div class="wrap">
										<div class="copy" style="margin-left:300px;">
										   <h1 style="font-size:13px; color:#666">Share <a href="#" target="_blank"></a></h1>
										</div>
										<div class="social">	
										   <ul>	
											  <li class="facebook"><a href="#"><span> </span></a></li>
											  <li class="linkedin"><a href="#"><span> </span></a></li>
											  <li class="twitter"><a href="#"><span> </span></a></li>		
										   </ul>
										</div>
										<div class="clear"></div>
									  </div>
							   </div>
							   
							   <!-- Previos Next -->
								 <div class="blog-top">
				 
									<!-- Previous -->
					  <div class="col_1_of_b2 span_1_of_b2">
								  <div class="sidebar-posts"  style="border-right: 1px solid #BBB; padding:20px 20px 20px 20px;" >
                                    <h1 style="margin-top:7px;"><< Previous</h1>
									<h1 style="margin-top:7px;color:#000;">Name of the post </h1>
									</div>
									</div>
									<!-- Next -->
                                    <div class="col_1_of_b2 span_1_of_b2" style="margin-left:280px;">
								  <div class="sidebar-posts"  style="border-left: 1px solid #BBB; padding:20px 20px 20px 20px;" >
                            
                                    <h1 style="margin-top:7px; text-align:right;">Next >></h1>
									<h1 style="margin-top:7px; text-align:right; color:#000;">Name of the post </h1>
									</div>
									</div>
									<div class="clear"></div>
									</div>
			<!-- Related Blog blocks -->
	<h3 style=" font-size:30px;">Related Blogs</h3>
		<!-- Related Blog blocks -->
	<div class="main">
			 <div class="wrap">
			   <div class="pages">
			   <!-- Row 1 -->
				 <div class="blog-top" style="margin-left:10px;">
				 
				 <!-- Block 1 -->
					   <div class="col_1_of_b2 span_1_of_b2">
						<a><img src="img/b1.jpg" alt=""></a>
						<div class="blog-poast-admin2">
							<a>05<br>Mar</a>
						</div>
						<div class="blog-poast-info" style="background-color:transparent; font-size:10px; text-align:left; margin-left:40px;">
								<ul>
									<li><i class="admin"> </i><a class="admin"><span> </span>Genre, Genre</a></li>
								</ul>
							</div>
						<h3 style="font-size:15px;"><a href="#">Lorem Ipsum is simply</a></h3>
							<p style="font-size:13px;">Lorem ipsum dolonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<div class="button"><a href="#">+Read More</a></div>
					</div>
					
					<!-- Block 2 -->
					 <div class="col_1_of_b2 span_1_of_b2">
						<a><img src="img/b3.jpg" alt=""></a>
						<div class="blog-poast-admin2">
							<a>05<br>Mar</a>
						</div>
						<div class="blog-poast-info" style="background-color:transparent; font-size:10px; text-align:left; margin-left:40px;">
								<ul>
									<li><i class="admin"> </i><a class="admin"><span> </span>Genre, Genre</a></li>
								</ul>
							</div>
						<h3 style="font-size:15px;"><a href="#">Lorem Ipsum is simply</a></h3>
							<p style="font-size:13px;">Lorem ipsum dolonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<div class="button"><a href="#">+Read More</a></div>
					</div>
					
					<!-- Block 3 -->
					  <div class="col_1_of_b2 span_1_of_b2">
						<a><img src="img/b7.jpg" alt=""></a>
						<div class="blog-poast-admin2">
							<a>05<br>Mar</a>
						</div>
						<div class="blog-poast-info" style="background-color:transparent; font-size:10px; text-align:left; margin-left:40px;">
								<ul>
									<li><i class="admin"> </i><a class="admin"><span> </span>Genre, Genre</a></li>
								</ul>
							</div>
						<h3 style="font-size:15px;"><a href="#">Lorem Ipsum is simply the faux words</a></h3>
							<p style="font-size:13px;">Lorem ipsum dolonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<div class="button" style="text-color:#4ecdc4;"><a href="#">+Read More</a></div>
					</div>
					
				<div class="clear"></div>
				</div>
				<!-- Row 1 end -->
				
				
				 </div>
				 
			  </div>
			</div>
							</div>
							
							<!-- Comment BLock -->
										<h3 style=" font-size:20px;">2 comments</h3>
									  <div class="sidebar-posts"  style="border-bottom: 1px solid #BBB; padding:20px 20px 20px 20px; " >
                                    <i class="fw-icon-bell-alt" style="background:url(img/dhann2.png); border:none; border-radius:15px; width:30px; height:30px;"></i>
                                   <h1 style="margin-top:7px; margin-left:45px;">Name of user </h1>
								   <h1 style="margin-top:7px; margin-left:50px; color:#AAA">April 10, 2017 </h1>
                                    <p style="text-transform:lowercase; font-size:13px; margin-left:50px;">The comment of the user is written here.he comment ofhe comment of the user is written herehe comment of the user is written herehe comment of the user is written herehe comment of the user is written herehe comment of the user is written here the user is written herehe comment of the user is written herehe comment of the user is written herehe comment of the user is written herehe comment of the user is written herehe comment of the user is written here</p>			
									<h1 style="margin-top:7px; margin-left:50px; text-align:right;">Reply</h1> 
                                </div>
								
								<div class="sidebar-posts"  style="border-bottom: 1px solid #BBB; padding:20px 20px 20px 20px; margin-left:80px; " >
                                    <i class="fw-icon-bell-alt" style="background:url(img/dhann2.png); border:none; border-radius:15px; width:30px; height:30px;"></i>
                                      <h1 style="margin-top:7px; margin-left:45px;">Name of user </h1>
								   <h1 style="margin-top:7px; margin-left:50px; color:#AAA">April 10, 2017 </h1>
                                    <p style="text-transform:lowercase; font-size:13px; margin-left:50px;">The comment of the user is written here.he comment ofhe comment of the user is written herehe comment of the user is written herehe comment of the user is written herehe comment of the user is written herehe comment of the user is written here the user is written herehe comment of the user is written herehe comment of the user is written herehe comment of the user is written herehe comment of the user is written herehe comment of the user is written here</p>			
									<h1 style="margin-top:7px; margin-left:50px; text-align:right;">Reply</h1> 
                                </div>
								
										  <div class="sidebar-posts"  style="border-bottom: 1px solid #BBB; padding:20px 20px 20px 20px; " >
                                    <i class="fw-icon-bell-alt" style="background:url(img/dhann2.png); border:none; border-radius:15px; width:30px; height:30px;"></i>
                                     <h1 style="margin-top:7px; margin-left:45px;">Name of user </h1>
								   <h1 style="margin-top:7px; margin-left:50px; color:#AAA">April 10, 2017 </h1>
                                    <p style="text-transform:lowercase; font-size:13px; margin-left:50px;">The comment of the user is written here.he comment ofhe comment of the user is written herehe comment of the user is written herehe comment of the user is written herehe comment of the user is written herehe comment of the user is written here the user is written herehe comment of the user is written herehe comment of the user is written herehe comment of the user is written herehe comment of the user is written herehe comment of the user is written here</p>			
									<h1 style="margin-top:7px; margin-left:50px; text-align:right;">Reply</h1> 
                                </div>
								
								<!-- Add Comment Form -->
								     <div class="main">
                              <h3 style=" font-size:20px;">Add your comments</h3>
                              <form>
                                 <div class="input" style="color:#4ecdc4;"><input style="width:300px;" name=""  placeholder="Your e-mail" title="Your e-mail" type="text" /></div>
                                 <div class="input" style="color:#4ecdc4;"><input style="width:300px;" name="" placeholder="Your name" title="Your name" type="text" /></div>
                                 <div class="input" style="color:#4ecdc4;"><textarea style="width:700px;" placeholder="Your message" name="" rows="5"></textarea></div>
								<a href="#" class="btn2 btn2-main btn-lg glyphicon ">Comment</a>
								 <a href="#" class="btn2 btn2-main btn-lg glyphicon ">Comment Using Facebook</a>
                              </form>
                           </div>
						</div>
			
					</div>
					<!-- End Blog Post -->
					
					
					
				</div>
			</div>
	    </div>

			
			    
		

		<!-- Footer -->	
		<div class="footer" style="background:url(img/fback.jpg); background-size:cover;">
			<div class="wrap">
			<!-- Footer column 1-->	
				<div class="footer-grid footer-grid1" style="margin-right:22px;">
				   <h3 style="font-size:25px; color:#FFF">Quick links</h3>
			         <ul style="margin-top:23px;">
						<li><i> </i><div class="extra-wrap1">
							<p>Pokhara<br></p>
						</div></li>
						<li><i> </i><div class="extra-wrap1">
							<p>Kathmandu<br></p>
						</div></li>
						<li><i> </i><div class="extra-wrap1">
							<p>Pokhara<br></p>
						</div></li>
						<li><i> </i><div class="extra-wrap1">
							<p>Pokhara<br></p>
						</div></li>
						<li><i> </i><div class="extra-wrap1">
							<p>Pokhara<br></p>
						</div></li>
						<li><i> </i><div class="extra-wrap1">
							<p>Pokhara<br></p>
						</div></li>
					</ul>
				</div>
				<!-- Footer column 2-->	
						<div class="footer-grid footer-grid1" style="margin-right:22px;">
				   <h3 style="font-size:25px; color:#FFF">watch</h3>
			         <ul style="margin-top:23px;">
						<li><i> </i><div class="extra-wrap1">
							<p>Pokhara-rebound nepal<br></p>
						</div></li>
						<li><i> </i><div class="extra-wrap1">
							<p>Kathmandu<br></p>
						</div></li>
					</ul>
				</div>
				<!-- Footer column 3-->	
						<div class="footer-grid footer-grid1" style="margin-right:22px;">
				   <h3 style="font-size:25px; color:#FFF">Destinations</h3>
			         <ul style="margin-top:23px;">
						<li><i> </i><div class="extra-wrap1">
							<p>Pokhara<br></p>
						</div></li>
						<li><i> </i><div class="extra-wrap1">
							<p>Kathmandu<br></p>
						</div></li>
						<li><i> </i><div class="extra-wrap1">
							<p>Pokhara<br></p>
						</div></li>
						<li><i> </i><div class="extra-wrap1">
							<p>Pokhara<br></p>
						</div></li>
						<li><i> </i><div class="extra-wrap1">
							<p>Pokhara<br></p>
						</div></li>
						<li><i> </i><div class="extra-wrap1">
							<p>Pokhara<br></p>
						</div></li>
					</ul>
				</div>
				<!-- Footer column 4-->	
						<div class="footer-grid footer-grid1" style="margin-right:-10px;">
				   <h3 style="font-size:25px; color:#FFF">My ght</h3>
			         <ul style="margin-top:23px;">
						<li><i> </i><div class="extra-wrap1">
							<p>Pokhara jounal<br></p>
						</div></li>
						<li><i> </i><div class="extra-wrap1">
							<p>Kathmandu journal and stake<br></p>
					</ul>
				</div>
				<div class="clear"> </div>
			</div>
		</div>
		<!-- Bottom footer -->
		<div class="footer-bottom" style="background-color:#DDD;">
	 		  <div class="wrap">
	     	  	<div class="copy">
				   <h1 style="font-size:13px; color:#4ecdc4;">&copy; <a href="#" target="_blank"></a> Moodways Travel,2017 </h1>
			    </div>
			    <div class="social">	
				   <ul>	
					  <li class="facebook"><a href="#"><span> </span></a></li>
					  <li class="linkedin"><a href="#"><span> </span></a></li>
					  <li class="twitter"><a href="#"><span> </span></a></li>		
				   </ul>
			    </div>
			    <div class="clear"></div>
			  </div>
       </div>
        
       

        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js1/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js1/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->
		<script src="js1/jquery.easing.min.js"></script>
		<script src="js1/scrolling-nav.js"></script>		

    </body>
</html>