{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Title for page -->
  <title>Booking form</title>

  <!-- Bootstrap Core CSS -->
  <link href="{% static 'frontend/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'frontend/css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'frontend/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'frontend/bootstrap-datepicker/datepicker3.css' %}" rel="stylesheet">


  <!-- Custom CSS -->


  <link rel="stylesheet" href="{% static 'frontend/css/main.css' %}">
  <link href="{% static 'frontend/css/custom.css' %}" rel="stylesheet">
  <link href="{% static 'frontend/css/main.css' %}" rel="stylesheet">

  <link href="{% static 'frontend/css/contact.css' %}" rel="stylesheet">


  <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'frontend/css/vertical.css' %}" rel="stylesheet">
  <!-- Custom Fonts & Icons -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="{% static 'frontend/css1/style2.css' %}"/>
  <link href="{% static 'frontend/css1/main.css' %}" rel="stylesheet">
  <link href="{% static 'frontend/css1/style.css' %}" rel="stylesheet" type="text/css" media="all" />
  <link href="{% static 'frontend/css1/theme.css' %}" rel="stylesheet">
  <link href="{% static 'frontend/css1/styled.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'frontend/css1/custom-styles.css' %}">
  <!-- Custom Fonts -->
  <link href="{% static 'frontend/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css" rel="stylesheet" type="text/css">

  <!-- Javascript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'frontend/js/jquery.roundabout-1.0.min.js"></script>

</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" style="background-color:white;">



  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#">Moodways Travels</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav navbar-right">
          {% for child in menu_root.not_deleted_children %}
          {% if request.path|cut:"/" == child.url|cut:"/" %}
          {% if child.not_deleted_children %}
          <li class="passive dropdown">
            {% else %}
            <li class="passive">
              {%endif%}
              {% else %}
              {% if child.not_deleted_children %}
              <li class="dropdown">
                {% else %}
                <li>
                  {%endif%}
                  {% endif %}
                  {% if child.not_deleted_children %}
                  <a href="{{ child.url }}" class="dropdown-toggle" data-toggle="dropdown">{{ child.title }}<b class="caret"> </b></a>
                  <ul class="dropdown-menu" style="background-color:white;">
                    {% for sub_child in child.not_deleted_children %}
                    <li>
                      <a href="{{ sub_child.url }}">{{ sub_child.title }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                  {% else %}
                  <a href="{{ child.url }}">{{ child.title }}</a>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
        </nav>


       <!-- Intro Header -->
<header class="intro" style="background-image:url('{% static "frontend/img/back.jpg" %}'); height:300px;">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="brand-heading">
                    <h1 style="color:#FFF;">Experience Nepal</h1>
                    <h1 style="font-size:12px; color:#FFF; margin-top:20px;">
                            Travel with moodways
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>

        <div class="grid" style="margin-top:60px; margin-bottom:60px;">

          <div class="row space-top">

            <div class="c12 space-top">
              <h3 style=" font-size:20px;" class="maintitle">
                <span></i> Book your package</span>
              </h3>
              <br>

              <h3 style=" font-size:16px; color:#000;" class="maintitle">
                <span></i>{{package.title}}</span>
              </h3>

              <div class="wrapcontact">
                <form method="post" action="" id="contactform">
                {% csrf_token %}
                  <div class="form">

                    <label>No. of Person</label>
                    {{form.person}}
                    <label>Travel date</label>
                    {{form.travelDate}}
                    <label>Name</label>
                    {{form.name}}
                    <label>E-mail</label>
                    {{form.email}}
                    <label>Phone</label>
                    {{form.phone}}
                    <label>Discount Code</label>
                    {{form.discount_code}}
                    <label>Comments</label>
                    {{form.comments}}
                    <input type="submit" class="btn2 btn2-main btn-lg glyphicon " name="Book Now">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div><!-- end grid -->




        <section id="contact" >
          <div class="container" data-stellar-background-ratio="0.4" class="img img-responsive" style=" background:url({% static 'frontend/img/fback.jpg' %}); background-size:cover; background-position:fixed;">
            <div class="row" style="margin-top:20px; margin-bottom:20px; ">
              <div class="col-md-3">
                <a href="#" class="fa fa-map-marker" style="color:#fff; font-size:25px;" ><h4 style="color:#fff;"> Quick Links</h4> </a>
                <ul>
                  <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Home</a> </li>
                  <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Destination</a> </li>
                  <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Essential Info</a> </li>
                  <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Ght Blog</a> </li>
                  <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Earthquake 2015</a> </li>
                  <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> FAQs</a> </li>
                  <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Contact Us</a> </li>
                </ul>
              </div>
              <div class="col-md-3">
                <a href="#" class="fa fa-map-marker" style="color:#fff; font-size:25px;" ><h4 style="color:#fff;"> Watch</h4> </a>
                <ul>


                  <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Adventure week- Rebound Nepal</a> </li>
                  <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Ght Trailer</a> </li>

                </ul>
              </div>
              <div class="col-md-3">
                <a href="#" class="fa fa-map-marker" style="color:#fff; font-size:25px;" ><h4 style="color:#fff;"> Destinations</h4> </a>
                <ul>
                  <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Humla</a> </li>
                  <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Jumla</a> </li>
                  <li><a href="#" class="fa fa-map-marker" style="color:#fff;">Far west Nepal</a> </li>
                  <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Pokhara</a> </li>
                  <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Chitwan</a> </li>
                  <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Humla</a> </li>
                  <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Jumla</a> </li>
                  <li><a href="#" class="fa fa-map-marker" style="color:#fff;">Far west Nepal</a> </li>
                  <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Pokhara</a> </li>

                </ul>
              </div>
              <div class="col-md-3">
                <a href="#" class="fa fa-map-marker" style="color:#fff; font-size:25px;" ><h4 style="color:#fff;">My GHT</h4> </a>
                <ul>
                  <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> Trekkers' Journals</a> </li>
                  <li><a href="#" class="fa fa-map-marker" style="color:#fff;"> My GHT Photo Compilation</a> </li>

                </ul>
              </div>

            </div>
          </div>
        </section>



        <!-- Bottom footer -->
        <div class="footer-bottom" style="background-color:#DDD;">
          <div class="wrap">
            <div class="copy">
              <h1 style="font-size:13px; color:#4ecdc4;">&copy; <a href="#" target="_blank"></a> Moodways Travel,2017 </h1>
            </div>
            <div class="social">
              <ul>
                <li class="facebook"><a href="#"><span> </span></a></li>
                <li class="linkedin"><a href="#"><span> </span></a></li>
                <li class="twitter"><a href="#"><span> </span></a></li>
              </ul>
            </div>
            <div class="clear"></div>
          </div>
        </div>




        <script src="{% static 'frontend/js/jquery.min.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'frontend/js/jquery.easing.min.js' %}"></script>
        <script src="{% static 'frontend/js/jquery.stellar.js' %}"></script>
        <script src="{% static 'frontend/js/jquery.appear.js' %}"></script>
        <script src="{% static 'frontend/js/jquery.nicescroll.min.js' %}"></script>
        <script src="{% static 'frontend/js/jquery.countTo.js' %}"></script>
        <script src="{% static 'frontend/js/jquery.shuffle.modernizr.js' %}"></script>
        <script src="{% static 'frontend/js/jquery.shuffle.js' %}"></script>
        <script src="{% static 'frontend/js/owl.carousel.js' %}"></script>
        <script src="{% static 'frontend/js/jquery.ajaxchimp.min.js' %}"></script>

        <script src="{% static 'frontend/js/vertical.js' %}"></script>

        <!-- Scrolling Nav JavaScript -->
        <script src="{% static 'frontend/js/jquery.easing.min.js' %}"></script>
        <script src="{% static 'frontend/js/scrolling-nav.js' %}"></script>

        <script src="{% static 'frontend/bootstrap-datepicker/datepicker3.js' %}"></script>
        <script type="text/javascript">
            $('#datepicker').datepicker({autoclose: true, todayHighlight: true, format: "yyyy-mm-dd"});
        </script>
      </body>
      </html>
