{% extends 'layouts/frontend/base.html' %}
{% load staticfiles %}
 {%block title %}
 {{block.super}} | Blog Detail
 {% endblock %}


{% block content %}
<!-- Location -->
<div class="footer-bottom" style="background-color:transparent; margin-top:40px;">
<div class="wrap">
    <div class="copy" style="margin-left:100px;">
        <h1 style="font-size:13px"><a href="{% url 'website:home' %}" target="_blank">Home</a></h1>
    </div>
    <div class="copy">
        <h1 style="font-size:13px;"><a href="{% url 'website:frontBlogList' %}" > >>Blog Grid</a></h1>
    </div>
    <div class="copy">
        <h1 style="font-size:13px;"><a href="{% url 'website:frontBlogDetail' blog.id %}"> >>{{blog.title}}</a></h1>
    </div>
    <div class="clear"></div>
</div>
</div>

<!-- Blog Section -->
<div class="section">
<div class="container">
    <div class="row">
        <!-- Left Sidebar -->
        <div class="col-sm-4 blog-sidebar" style="width:23%; margin-left:80px;">
            <!-- Search Form -->
            <form method="get" action="{% url 'website:frontBlogList' %}">
                <div class="input-group">
                  <input type="Search" class="form-control" name="q" placeholder="Search" aria-describedby="basic-addon2">
                  <span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-search"></i></span>
                </div>
            </form>
            <!-- Latest Blog sidebar -->
            <div class="sidebar no-space">
                <h1 style="margin-bottom:20px; margin-top:30px; border-bottom: 1px solid #BBB;">Latest blog</h1>
                {% for latest_blog in latest_blogs%}
                <div class="sidebar-posts" >
                    <i class="fw-icon-bell-alt" style="background:url({{latest_blog.titlePic.url}}); background-size:cover; width:60px; height:60px;"></i>
                    <h1>{{blog.created_at}}</h1>
                    <p><a href="{% url 'website:frontBlogDetail' latest_blog.id %}" style="color:black;">{{latest_blog.title}}</a></p>
                </div>
                {% endfor %}
            </div>

        </div>
        <!-- End Sidebar -->

        <!-- Blog Post -->
        <div class="col-sm-8" style="width:70%; align:right; margin-right:-40px;">
            <div class="blog-post blog-single-post" >


                <div class="single-post-content" style="margin-top:-10px;">
                    <!-- genre -->
                    <h3 style="color:black; font-size:10px; margin-bottom:7px;"> {{blog.subTitle}}</h3>
                    <!-- Title -->
                    <h3 style="color:black;">{{blog.title}}</h3>
                    <!-- Author, Date -->
                    <p>{{blog.author}}, {{blog.created_at|date}}</p>
                    <!-- Image -->
                    <div class="single-post-image" style="margin-top:20px;">
                        <img src="{{blog.titlePic.url}}" alt="Post Title">
                    </div>
                    {{blog.body|safe}}
                        <!-- Share -->
                        <div class="footer-bottom" style="background-color:#DDD;">
                            <div class="wrap">
                                <div class="copy" style="margin-left:300px;">
                                    <h1 style="font-size:13px; color:#666">Share <a href="#" target="_blank"></a></h1>
                                </div>
                                <div class="social">
                                    <ul>
                                        <li class="facebook"><a href="#"><span> </span></a></li>
                                        <li class="linkedin"><a href="#"><span> </span></a></li>
                                        <li class="twitter"><a href="#"><span> </span></a></li>
                                    </ul>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Comment BLock -->
                    <h3 style=" font-size:20px;">{{count}} Comment</h3>
                    {% for comment in comments %}
                    <div class="sidebar-posts"  style="border-bottom: 1px solid #BBB;" >
                                <h1 style="margin-top:7px; color:black; ">{{comment.name}} </h1>
                                <h1 style="margin-top:7px; color:#AAA">{{comment.created_at|timesince}} ago</h1>
                                <p style="text-transform:lowercase; color:black; font-size:13px; ">{{comment.body}}</p>
                            </div>

                    {% endfor %}
                    <!-- Add Comment Form -->
                    <div class="main">
                        <h3 style=" font-size:20px;">Share Your Experince</h3>
                        <form method="post" action=".">
                        {%csrf_token%}
                            <div class="input" style="color:#4ecdc4;">{{form.email}}</div>
                            <div class="input" style="color:#4ecdc4;">{{form.name}}</div>
                            <div class="input" style="color:#4ecdc4;">{{form.body}}</div>
                            <button type="submit" class="btn2 btn2-main btn-lg glyphicon ">Comment</button>
                        </form>
                    </div>
                </div>

            </div>
            <!-- End Blog Post -->



        </div>
    </div>
</div>

{% endblock %}
