{% extends 'layouts/admin/base.html' %}

{% block head_title %}
    {{block.super}} | Package Detail
{% endblock %}

{% block content %}
<section>
<div class="section-body contain-lg">
<h2>Package Detail</h2>
    <div class="card card-tiles style-default-light">
        <div class="row style-primary">
            <div class="col-sm-12">
                <div class="card-body style-default-dark">
                    <h2>{{package.title}}</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- BEGIN package POST TEXT -->
            <div class="col-md-12">
                <article class="style-default-bright">
                    {% if package.titlePic %}
                    <div>
                        <img class="img-responsive" src="{{package.titlePic.url}}" alt="{{package.caption}}" />
                    </div>
                  <h3>{{package.caption}}</h3>
                    {% endif %}
                    <div class="card-body">
                        <h2>{{package.subTitle}}</h2>
                        <p>{{package.body|safe}}</p>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Key</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Price</td>
                                    <td>Rs . {{package.price}}</td>
                                </tr>
                                <tr>
                                    <td>Discount</td>
                                    <td>{{package.discount}} %</td>
                                </tr>
                                <tr>
                                    <td>Gallery</td>
                                    <td><a href="{% url 'website:galleryDetail' package.gallery.id %}">{{package.gallery}}</a></td>
                                </tr>
                                <tr>
                                    <td>Day</td>
                                    <td>{{package.day}}</td>
                                </tr>
                                <tr>
                                    <td>Place</td>
                                    <td>{{package.place}}</td>
                                </tr>
                                <tr>
                                    <td>Season</td>
                                    <td>{{package.season}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!--end .card-body -->

                </article>

            </div><!--end .col -->
            <!-- END package POST TEXT -->

        </div>
    </div>
<!-- BEGIN LAYOUT JUSTIFIED -->
      <div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-head">
                <ul class="nav nav-tabs nav-justified" data-toggle="tabs">
                  {% for itenary in itenaries %}
                    <li class="{% if forloop.counter == 1%}active{% endif %}"><a href="#{{forloop.counter}}">{{itenary}}</a> </li>
                  {% endfor %}
                </ul>
            </div><!--end .card-head -->
            <div class="card-body tab-content">
                  {% for itenary in itenaries %}
                     <div class="tab-pane {% if forloop.counter == 1%}active{% endif %}" id="{{forloop.counter    }}">
                     {{itenary.description|safe}}
                     <hr/>
                     <a href="{% url 'website:itenaryUpdate' itenary.id %}">Update</a> | <a href="{% url 'website:itenaryDelete' itenary.id %}">Delete</a>
                        </div>
                  {% endfor %}
            </div><!--end .card-body -->
        </div><!--end .card -->
    </div><!--end .col -->
    <!-- END LAYOUT JUSTIFIED -->
    <div class="col-md-12">
    <h2>Itenary Add</h2>
      <div class="card">
        <div class="card-body">
            <form action="" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
                 {% csrf_token %}
                {{form.as_p}}
                {{form.media}}
                <button class="btn ink-reaction btn-primary btn-raised" type="submit">Add/Update</button>
            </form>
        </div>
    </div>
    </div>
    </div>
</div>

</section>
{% endblock %}

{% block extra_js%}
<script type="text/javascript">
    $('#package').addClass('active')
</script>
{% endblock %}
