{% extends 'layouts/admin/base.html' %}

{% block head_title %}
    {{block.super}} | Package Create
{% endblock %}

{% block content %}
<section>
<div class="section-body contain-lg">
<h2>Package Create</h2>
    <div class="card">
        <div class="card-body">
            <form action="" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
                 {% csrf_token %}
                {{form.as_p}}
                {{form.media}}
                <button class="btn ink-reaction btn-primary btn-raised" type="submit">Add/Update</button>
            </form>
        </div>
    </div>
</div>
</section>
{% endblock %}

{% block extra_js%}
<script type="text/javascript">
    $('#package').addClass('active')
</script>
{% endblock %}
